[user]
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[user]
	name = samratroy
	email = samratdebroy@gmail.com
[color]
	ui = true
# Difftool config
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[difftool "codecompare"]
	cmd = '$pathto\\CodeCompare.exe' -W \"$LOCAL\" \"$REMOTE\" 
	renames = true
[difftool "bcompare"]
	cmd =  '$pathto\\BCompare.exe' "$LOCAL" "$REMOTE"
	renames = true
# Mergetool config
[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[mergetool "codecompare"]
	cmd = '$pathto\\codemerge.exe' -MF \"$LOCAL\" -TF \"$REMOTE\" -BF \"$BASE\" -RF \"$MERGED\" 
	trustExitCode = true
[mergetool]
    keepBackup = false
[core]
	editor = atom --wait
	excludesfile = $HOME\\.gitignore_global
